In [110]:
# 1. download libraries
# 2. get data
# 3. div.. into training and test data(not doing as of now)
# 4. check for any missin and outliers, add new var if required (not doing as of now)
# 5. do model building on cleaned data
# 6. calc acc of model- tree,model.fit,predict,accuracy

In [1]:
# 1. downloading libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#from sklearn.preprocessing import OneHotEncoder
#from sklearn import preprocessing

In [9]:
# 2. getting data
fraud_train = pd.read_csv("C:\\Users\\dvenk\\Practice in Python\\Supervised_Learning_Models\\Fraud_check.csv")

In [10]:
fraud_train

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [11]:
#setting the model 
model_class = DecisionTreeClassifier()
#model_regr = DecisionTreeRegressor()

In [12]:
fraud_train['Marital.Status'] = fraud_train['Marital.Status'].astype('category')
fraud_train = pd.get_dummies(fraud_train)

In [13]:
fraud_train['Urban'] = fraud_train['Urban'].astype('category')
fraud_train = pd.get_dummies(fraud_train)

KeyError: 'Urban'

In [14]:
fraud_train['Undergrad'] = fraud_train['Undergrad'].astype('category')
fraud_train = pd.get_dummies(fraud_train)

KeyError: 'Undergrad'

In [7]:
fraud_train_x = fraud_train.drop(columns=['Taxable.Income'],axis=1)
fraud_train_y = fraud_train['Taxable.Income']

#model.fit(fraud_train_x, fraud_train_y)
#fraud_train_y

In [85]:
fraud_train

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,0,1,1,0,0,0,1
596,69967,55369,2,0,1,1,0,0,0,1
597,47334,154058,0,1,0,1,0,0,0,1
598,98592,180083,17,0,1,0,1,0,1,0
599,96519,158137,16,1,0,1,0,0,1,0

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,0,1,1,0,0,0,1
596,69967,55369,2,0,1,1,0,0,0,1
597,47334,154058,0,1,0,1,0,0,0,1
598,98592,180083,17,0,1,0,1,0,1,0
599,96519,158137,16,1,0,1,0,0,1,0